<style>
    .top-buffer { margin-top:20px; }
 </style>

<%= simple_form_for(@newsletter, html: {class: "form_signin"}) do |f| %>
<%= f.error_notification %>

 <div class="row top-buffer">
 <div class="col-xs-12 col-sm-6 col-sm-offset-3"> 
 
<%= f.input :template, label: false, required: true, autofocus: true, :cols => 60 ,placeholder: "Email Name", input_html: {class:  "pull-left"} %>

</div>
 </div>

   <div class="row top-buffer">
 <div class="col-xs-12 col-sm-6 col-sm-offset-3">
<%= f.text_area :code, label: false, required: true, autofocus: true, :class => "tinymce", :rows => 12, :cols => 60, placeholder: "HTML <code>", input_html: {class: "pull-left"} %>
</div>

 <div class="col-sm-1 col-sm-offset-0", "text-center" >       

   <%= f.button :submit, 'Save', class: "btn btn-primary btn-block" %>
    <%= f.button :button, 'Reset', :type => 'reset', class: "btn btn-primary btn-block" %>
    
</div>
</div>
</div>


             
<% end %>