<%= simple_form_for :customer, :url => customers_path,  html: {class: "form-signin"} do |f| %>
  

        <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Email", input_html: {class: "form-control"} %>

       <%= f.input :first_name, required: true, autofocus: true, label: false, placeholder: "First Name", input_html: {class: "form-control"} %>
   
        <%= f.input :last_name, required: true, autofocus: true, label: false, placeholder: "Surname", input_html: {class: "form-control"} %>

   <div class="row">
      <div class="col-xs-12 form-group">
 <%= f.select :month, options_for_select((1..12).map {|m|Date::MONTHNAMES[m] % m}), {:include_blank => 'Birth Month'} , class: "form-control" %>
  </div>
    </div>

    <%= f.button :submit, "Sign up", class: "btn btn-primary btn-block" %>
   <%= notice %>

  <% end %>

